<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Aditya's Resume</title>
</head>

<body>
    <div class="nav">
        <h3 class="title">Aditya Arya</h3>
        <h4 class="title">FrontEnd Developer</h4>
        </div>
        <h3 class="title">Skills</h3>
        <div class="skill-items">
            <!-- <img src="" alt="figma">
            <img src="./images/html-5.svg" alt="">
            <img src="./images/css-3.svg" alt="">
            <img src="./images/python.svg" alt="">
            <img src="./images/java-wordmark.svg" alt=""> -->
            <div class="img">Figma</div>
            <div class="img">Java</div>
            <div class="img">HTML</div>
            <div class="img">CSS</div>
            <div class="img">Python</div>
        </div>
        <h3 class="title">Projects</h3>
        <div class="project">
            <img src="./images/todo-list.svg" alt="">
            <span>To Do List</span>
        </div>
        <div class="project">
            <img src="./images/joker.svg" alt="">
            <span>Random Joke Generator</span>
        </div>
        <div class="project">
            <img src="./images/logo-amazon.svg" alt="">
            <span>Amazon Clone</span>
        </div>
        <h3 class="title">Education</h3>
        <div class="education">
            <div class="edu">
                <span>BTech</span> <b>Silver Oak University</b> <span>8.47CGPA</span><br>
            </div>
            <div class="edu">
                <span>HSC</span> <b> SKUM</b> <span>66%</span><br>
            </div>
            <div class="edu">
                <span>SSC</span> <b>The RH Kapadia New High School</b> <span>72%</span><br>
            </div>
        </div>
        <h3 class="title">Contact</h3>
        <div class="contact">
            <div class="edu">
                <span>Phone:</span><b>840234802</b>
            </div>
            <div class="edu">
                <span>Emai:</span><b>adb@gmail.com</b>
            </div>
        </div>
</body>

</html>